<div>
    <button [routerLink]="['/dashboard']"  class="float_left">Home</button>
    <button [routerLink]="['/show/question', question._id]" class="float_left">Go Back to Question</button>
    <button (click)="logout()" class="float_right">Logout</button>
</div>
<div>
    <h3>{{question.question}}</h3>
    <p>{{question.description}}</p>
</div>
<div>
    <form (submit)="createAnswer()"  #reg="ngForm">
        <div>
            <label>Your Answer:</label>
            <input 
                required
                type="text" 
                name="answer" 
                minlength="5"
                [(ngModel)]="answer.answer"
                >
                {{ answer.valid | json }}
        </div>
        <div>
            <label>Supporting detail for your answer (optional)</label>
            <input type="text" name="description" [(ngModel)]="answer.detail">
        </div>
        <div>
            <input type="submit" value="Create" [disabled]="reg.invalid">
        </div>
    </form>
    <div>
        <p class="error" *ngFor="let error of errors">{{ error}} </p>
    </div>
</div>
